<div class="content-area">
    <section class="page-section">
        <div class="container-fluid full-height">
            <div class="col-md-12 full-height relative min-height">
                <div class="wrapper-vertical-center">
                    <div class="text-center about-header">
                        <h2 class="block-header">About us</h2>
                        <div class="social-media">
                            <a data-ng-href="{{facebook}}" target="_blank">
                                <span><i class="fa fa-facebook"></i></span>
                            </a>
                            <a data-ng-href="{{pinterest}}" target="_blank">
                                <span><i class="fa fa-pinterest"></i></span>
                            </a>
                            <a data-ng-href="{{google}}" target="_blank">
                                <span><i class="fa fa-google-plus"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="regular-text">
                      We’re changing health care from the ground up.
We believe better health care starts with the people. The Med Place is your one destination for instant care and attention.

The med Place is empowering people to take charge of their own health. We’re revolutionizing the way doctors and patients interact and gain access to information, cutting out all layers and processes that currently are stumbling blocks in care coordination. We connect doctors, care providers, and consumers all within a single, secure platform – creating a care team that works together to provide the best care.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
