<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Our professionals </h3>
                            <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p>
                        </div>
                        <style>
                        h1 ,h4, p{
                          text-align: center;
                        }
                        </style>
                        <h1> The Medplace experience</h1>
                        <h4> Experience the future of healthcare </h4>
                        <br>
                        <br>
                        <p><a href="https://dcdiabetes.herokuapp.com/"> Predict the onset of diabetes using machine learning diabetes </a></p>
                        <p><a href="https://mysterious-harbor-90258.herokuapp.com/"> Personalized response depending on user sentiment </a></p>
                        <p><a href="https://github.com/Sangarshanan"> Check out our research work and contribute open source </a></p>




                    </div>

                </div>
