<div class="content-area">
    <section class="page-section">
        <div class="container-fluid full-height">
            <div class="row product-single full-height">
                <a href="#/shop">
                    <div class="all_products">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </a>

                <div class="col-md-6 text-center full-height relative min-height">
                    <div class="images-wrapper">
                        <img data-ng-src={{imageUrl}} alt="" class="imgdetail"/>
                        <div class="row">
                            <div class="hidden-xs col-sm-3"></div>
                            <div class="col-xs-4 col-sm-2" data-ng-repeat='img in images'>
                                <div class="img-product-detail">
                                    <a href="">
                                        <img class="full-width" data-ng-src="{{'assets/img/' + img}}" alt="" data-ng-click='setImage(img)' />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 full-height filters-shop min-height">
                    <div class="product-name">
                        <h2 class="product-title">{{productDetail.name}}</h2>
                        <div class="product-price">{{productDetail.price | currency}}</div>
                    </div>
                    <div class="wrapper-info">
                        <div class="product-text">
                            {{productDetail.desc}}
                        </div>
                        <div class="buttons relative">
                            <div data-ng-show="isoutstock(productDetail)">
                                <span class="select-wrapper-size {{selectExtraClassDetail}}" data-ng-show="variation_exist">
                                    <select class="form-control size-select" data-ng-class='validate_category' data-ng-model='variationsselect' data-ng-change="update()" name="size" required>
                                        <option value="" selected>Select Size</option>
                                        <option data-ng-repeat="var in variations" value="{{var}}">{{var}}</option>
                                    </select>
                                </span>

                                <span class="input-group-btn">
                                    <button class="btn-theme btn-detail" data-ng-click="addProductDetails(productDetail)">Add to cart</button>
                                </span>
                            </div>
                            <label data-ng-show="!isoutstock(productDetail)" class="out-stock-label">Out Stock</label>
                        </div>
                        <div data-ng-model="message" data-ng-show="showMessage" class="message fadein fadeout">{{message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

