<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Our professionals </h3>
                            <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p>
                        </div>
                        <style>
                        h1{
                          text-align: center;
                          text-decoration: underline;
                        }
                        </style>
                        <h1> Our Team </h1>
                        <br>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="p.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi I am the developer of this site !</h4>
                                        <p>I am the developer and the designer of this website</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://www.facebook.com/sangarshanan.veera"><i class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/sangarshanan"><i class="fa fa-twitter"></i></a>
                                        <a href="http://linkedin.com/in/sangarshanan-veera-7494b9117/"><i class="fa fa-linkedin	"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sangarshanan</h5>
                                <span>Developer &amp; Designer</span>
                            </div>
                        </div>
                    </div>
                </div>

